nav {
    background-color: #0001;
    height: 80px;
    line-height: 80px;
    width: 100%;

}
nav ul{
float: right;
margin: 30px;
}
nav ul li{
    display:inline-block;
}
nav ul li a{
    text-decoration: none;
    color:white;
    padding:30px;
}
nav ul li:hover{
    background-color: rgb(15, 128, 0);
}